/*----------------- Global Settings -------------*/
:root {
  --color-primary: #73b0ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #6774b3;
  --color-background: #f6f6f9;

  --card-border-radius: 0.8rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* Base Styles */

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  outline: none;
  border: none;
  list-style-type: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.6s ease-in;
  transition: all 0.4s linear;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  color: inherit;
}

img {
  /* max-width: 100%; */
  width: 100%;
  display: block;
}

/*============== Layout ==============*/
html {
  font-size: 14px;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 0.88rem;
  background: var(--color-background);
  overflow-x: hidden;
  color: var(--color-dark);
}

.container {
  width: 96%;
  margin: 0 auto;
  display: grid;
  gap: 1.8rem;
  grid-template-columns: 12rem auto 20rem;
}

a {
  color: var(--color-dark);
}

h1 {
  font-weight: 700;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  overflow: hidden;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.text-muted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

/*================ PROJECT STYLES ============*/
/******* Aside Section **********/
aside {
  height: 100vh;
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo img {
  width: 2rem;
  height: 2rem;
}

aside .logo {
  display: flex;
  gap: 0.8rem;
}

aside .close {
  display: none;
}

/* =========== SIDEBAR ========= */

.sidebar {
  /* background-color: #fff; */
  height: 86vh;
  position: relative;
  top: 3rem;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
  color: var(--color-info-dark);
  height: 3.7rem;
  transition: all 300ms ease-in;
}

.sidebar a span {
  font-size: 1.6rem !important;
  transition: all 300ms ease-in-out;
}

.sidebar a:last-child {
  width: 100%;
  position: absolute;
  bottom: -15px;
}

.sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

.sidebar a.active::before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

.sidebar a:hover {
  color: var(--color-primary);
}

.sidebar a:hover span {
  margin-left: 1rem;
}

.sidebar a .message__count {
  padding: 2px 10px;
  font-size: 11px !important;
  color: var(--color-white);
  border-radius: var(--border-radius-1);
  background: var(--color-danger);
}

/* =========== MAIN ========= */
main {
  margin-top: 1.4rem;
}

main .date {
  display: inline-block;
  background-color: var(--color-light);
  margin-top: 1rem;
  border-radius: var(--border-radius-1);
  padding: 0.5rem 1.6rem;
}

.date input[type="date"] {
  background: transparent;
  color: var(--color-dark);
}

.insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.insights > div {
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  transition: all 300ms ease;
}

.insights > div:hover {
  box-shadow: none;
}

.insights > div span {
  background: var(--color-primary);
  font-size: 1.8rem !important;
  color: var(--color-white);
  padding: 0.5rem;
  border-radius: 50%;
}

.insights .expenses span {
  background: var(--color-danger);
}

.insights .income span {
  background: var(--color-danger);
}

.middle {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.progress {
  border: 8px solid var(--color-primary);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff !important;
  display: grid;
  place-items: center;
}

.insights h3 {
  font-size: 1rem;
  margin: 1rem 0 0.6rem;
}

.insights small {
  display: block;
  margin-top: 1.3rem;
}

/* ----------Recent Order ----------- */
.recent__order {
  margin-top: 2rem;
}

.recent__order h2 {
  margin-bottom: 0.8rem;
}

table {
  width: 100%;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

table:hover {
  box-shadow: none;
}

table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

table tbody td:last-child {
  border: none;
}

.recent__order a {
  text-align: center;
  margin: 1rem auto;
  display: block;
  color: var(--color-primary);
}

/* =========== RIGHTBAR ========= */
.right {
  /* border: 1px solid red; */
  margin-top: 1.4rem;
}

.right .top {
  display: flex;
  gap: 2rem;
  justify-content: end;
}

.menu__btn {
  cursor: pointer;
  display: none;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: right;
  cursor: pointer;
}

.profile__photo {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile__photo img {
  object-fit: cover;
}

.recent__updates {
  margin-top: 1rem;
}

.recent__updates h2 {
  margin-bottom: 0.8rem;
}

.updates {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.updates:hover {
  box-shadow: none;
}

.update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

.prof__photo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

/*-------- Sales Analytics --------*/
.sales__analytics {
  margin-top: 2rem;
}

.sales__analytics h2 {
  margin-bottom: 0.8rem;
}

.item {
  background: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1rem;
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.item:hover {
  box-shadow: none;
}

.sales__analytics .right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
}

.icon {
  padding: 0.6rem;
  color: var(--color-white);
  background: var(--color-primary);
  border-radius: 50%;
  display: flex;
}

.offline .icon {
  background: var(--color-danger);
}

.new__customer .icon {
  background: var(--color-success);
}

.add__product {
  background: transparent;
  border: 2px dashed var(--color-primary);
  padding: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*================== Media Queries ==================*/

@media only screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 20rem;
  }

  .logo h2,
  .sidebar h3 {
    display: none;
  }

  .sidebar a {
    width: 5.6rem;
  }

  .sidebar a:last-child {
    position: relative;
    /* margin-top: 1.8rem; */
  }

  .insights {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: 0;
    background: var(--color-white);
    background: #000;
    width: 18rem;
    height: 100vh;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    padding-right: var(--card-padding);
    opacity: 0.9;

    color: #fff !important;

    transform: translateX(-100%);
    transition: all 0.5s linear;
  }

  .aside.open {
    transform: translateX(0%);
  }

  .aside.close {
    transform: translateX(-100%);
  }

  .logo {
    margin-left: 1rem;
  }

  .logo h2 {
    display: inline-block;
  }

  .sidebar h3 {
    display: inline-block;
  }

  .sidebar a {
    width: 100%;
    height: 3.4rem;
    color: #fff !important;
  }

  aside .close {
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }

  .recent__order {
    position: relative;
    width: 100%;
    margin: 3rem 0 0 0;
  }

  .recent__order table {
    width: 100%;
    margin: 0;
  }

  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right .top {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0.5rem 0.8rem;
    background: var(--color-white);
    z-index: 2;
    margin: 0;
    box-shadow: 0 1rem 1rem var(--color-light);
  }

  .info {
    display: none;
  }

  .top .menu__btn {
    font-size: 2rem;
    display: inline-block;
    background: transparent;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
}

@media only screen and (max-width: 968px) {
}

@media screen and (max-width: 991px) {
  .fa-times {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 567px) {
}

@media (max-width: 450px) {
}
